@for $i from 1 through 50 {
  .speed-#{$i} {
    animation-duration: unquote(($i * .25) + 's');
  }
}

@for $i from 1 through 50 {
  .cascade:nth-of-type(#{$i}) {
    $i: (($i - 1) * 0.1);
    animation-delay: unquote($i + s);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scale-in {
  animation-name: scaleIn;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: both;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  animation-name: fadeInTop;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation-name: fadeInBottom;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
}
