html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  color: white;
  background: black;
  font-family: $font-family-sans;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

label {
  display: block;
  font-weight: bold;
}

*::selection {
  color: #FFBB27;
  background-color: #fbe4b1;
}
