%container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@each $size, $width in (xs: 20rem, sm: 38rem, md: 56rem, lg: 72rem) {
  .container-#{$size} {
    @extend %container;
    width: 100%;
    max-width: $width;
  }
}
