$secondary-100: hsl(0, 0%, 100%) !default;
$secondary-200: hsl(0, 0%, 98%) !default;
$secondary-300: rgb(191, 191, 191) !default;
$secondary-400: hsl(0, 0%, 62.5%) !default;
$secondary-500: hsl(0, 0%, 50%) !default;
$secondary-600: hsl(0, 0%, 37.5%) !default;
$secondary-700: hsl(0, 0%, 25%) !default;
$secondary-800: hsl(0, 0%, 12.5%) !default;
$secondary-900: hsl(0, 0%, 0%) !default;

$colors: (
  -secondary-100: $secondary-100,
  -secondary-200: $secondary-200,
  -secondary-300: $secondary-300,
  -secondary-400: $secondary-400,
  -secondary-500: $secondary-500,
  -secondary-600: $secondary-600,
  -secondary-700: $secondary-700,
  -secondary-800: $secondary-800,
  -secondary-900: $secondary-900,
);

$btnPalettes: (
  'secondary': (
    'raised': (
      'text': $secondary-100,
      'bg': $secondary-900,
      'border': $secondary-900,
      'shadow': $secondary-500,
    ),
    'flat': (
      'text': $secondary-900,
      'bg': white,
      'border': white,
      'shadow': null,
    ),
    'light': (
      'text': $secondary-900,
      'bg': $secondary-200,
      'border': $secondary-200,
      'shadow': null,
    ),
    'outlined': (
      'text': $secondary-900,
      'bg': transparent,
      'border': $secondary-700,
      'shadow': null,
    ),
    'default': (
      'text': $secondary-900,
      'bg': transparent,
      'border': null,
      'shadow': null,
    ),
  ),
);