$primary-100: hsl(30, 20%, 98%) !default;
$primary-200: hsl(30, 16%, 94%) !default;
$primary-300: hsl(30, 14%, 90%) !default;
$primary-400: hsl(30, 12%, 65%) !default;
$primary-500: hsl(30, 12%, 45%) !default;
$primary-600: hsl(30, 12%, 35%) !default;
$primary-700: hsl(30, 14%, 25%) !default;
$primary-800: hsl(30, 16%, 10%) !default;
$primary-900: hsl(30, 20%, 5%) !default;

$neutral-100: hsl(100, 0%, 100%) !default;
$neutral-200: hsl(100, 0%, 90%) !default;
$neutral-300: hsl(100, 0%, 75%) !default;
$neutral-400: hsl(100, 0%, 55%) !default;
$neutral-500: hsl(100, 0%, 50%) !default;
$neutral-600: hsl(100, 0%, 45%) !default;
$neutral-700: hsl(100, 0%, 25%) !default;
$neutral-800: hsl(100, 0%, 10%) !default;
$neutral-900: hsl(100, 0%, 0%) !default;

$colors: (
  -primary-100: $primary-100,
  -primary-200: $primary-200,
  -primary-300: $primary-300,
  -primary-400: $primary-400,
  -primary-500: $primary-500,
  -primary-600: $primary-600,
  -primary-700: $primary-700,
  -primary-800: $primary-800,
  -primary-900: $primary-900,
  -neutral-100: $neutral-100,
  -neutral-200: $neutral-200,
  -neutral-300: $neutral-300,
  -neutral-400: $neutral-400,
  -neutral-500: $neutral-500,
  -neutral-600: $neutral-600,
  -neutral-700: $neutral-700,
  -neutral-800: $neutral-800,
  -neutral-900: $neutral-900,
);

$btnPalettes: (
  'primary': (
    'raised': (
      'text': $primary-100,
      'bg': $primary-900,
      'border': $primary-900,
      'shadow': $primary-500,
    ),
    'flat': (
      'text': $primary-900,
      'bg': white,
      'border': white,
      'shadow': null,
    ),
    'light': (
      'text': $primary-900,
      'bg': $primary-200,
      'border': $primary-200,
      'shadow': null,
    ),
    'outlined': (
      'text': $primary-900,
      'bg': transparent,
      'border': $primary-700,
      'shadow': null,
    ),
    'default': (
      'text': $primary-900,
      'bg': transparent,
      'border': null,
      'shadow': null,
    ),
  ),
  'neutral': (
    'raised': (
      'text': $neutral-100,
      'bg': $neutral-900,
      'border': $neutral-900,
      'shadow': $neutral-500,
    ),
    'flat': (
      'text': $neutral-900,
      'bg': white,
      'border': white,
      'shadow': null,
    ),
    'light': (
      'text': $neutral-900,
      'bg': $neutral-200,
      'border': $neutral-200,
      'shadow': null,
    ),
    'outlined': (
      'text': $neutral-900,
      'bg': transparent,
      'border': $neutral-700,
      'shadow': null,
    ),
    'default': (
      'text': $neutral-900,
      'bg': transparent,
      'border': null,
      'shadow': null,
    ),
  ),
);