$radius-xs: 0.25rem !default;
$radius-sm: 0.375rem !default;
$radius-md: 0.5rem !default;
$radius-lg: 0.625rem !default;

$form-height: 2rem !default;
$textarea-line-height: $font-size-base * 1.5 !default;
