$spacing-list: 0 4 8 12 16 20 24 32 48 64;
$spacingClassNames: 'm', 'mx', 'my', 'mt', 'mr', 'mb', 'ml', 'p', 'px', 'py', 'pt', 'pr', 'pb', 'pl';

$input-padding-y: 0.5rem !default;
$input-padding-x: 0.25rem !default;
$form-padding-y: 0.25rem !default;
$form-padding-x: 0.25rem !default;
