.logo {
  img:first-child {
    width: 21rem;
    animation: float 4s infinite forwards;
  }
  img:last-child {
    margin-top: -7.8rem;
    margin-left: 7.2rem;
    width: 15rem;
    animation: blink 4s infinite forwards;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% { filter: saturate(1) contrast(1) hue-rotate(0deg); }
  44% { filter: saturate(1) contrast(1) hue-rotate(0deg); }
  45% { filter: saturate(1.5) contrast(1) hue-rotate(0deg); }
  49% { filter: saturate(1.5) contrast(1) hue-rotate(0deg) brightness(1.5); }
  50% { filter: saturate(0.95) contrast(1.1) hue-rotate(5deg) ; }
  54% { filter: saturate(0.95) contrast(1.1) hue-rotate(5deg) brightness(1.5); }
  55% { filter: saturate(1.5) contrast(1) hue-rotate(0deg) brightness(1.5); }
  56% { filter: saturate(1) contrast(1) hue-rotate(0deg); }
  100% { filter: saturate(1) contrast(1) hue-rotate(0deg); }
}