.backdrop {
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.75);
}

.shape {
  margin: 10% auto 5rem auto;
  max-width: 56rem;
  min-height: 108rem;
}

.closeBtn {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.container {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
}