.header {
  padding: 12rem 0;
}

.content {
  background: black;
}

.select {
  min-width: 10rem;
}

.logotype {
  font-size: 9rem;
}

.filtersBar {
  top: 0;
  z-index: 4;
  height: 3.25rem;
  position: sticky;
  transition: all .3s ease-in-out;
}

.filtersBarLogo {
  opacity: 0;
}