.header {
  padding: 6rem 0;
}

.title {
  margin-top: -1rem;
  line-height: 1;
}

.pageBg {
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 48rem;
  max-width: 1440px;
  -o-object-fit: contain;
  object-fit: cover;
  position: absolute;
  margin: auto;
}

.pageContent,
.header {
  z-index: 1;
  position: relative;
}