.shape  {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  min-height: 52px;
  background: rgba(8, 8, 8, 0.85);
  backdrop-filter: blur(20px);
}

.logotype {
  width: 3.5rem;
  height: 2.5rem;
}

.links {
  list-style-type: none;
  padding: 0;
}