@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone&display=block');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@mixin get-aws-font-url($params) {
  @if ($params != null) {
    src: 'https://tiltshop-data.s3.us-east-2.amazonaws.com' + $params;
  } @else {
    @warn "Missing params in the font url.";
  }
}

@font-face {
  font-family: "Damion";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  @include get-aws-font-url('/fonts/damion/damion-regular.ttf');
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  @include get-aws-font-url('/fonts/sf-pro-display/sf-pro-display-regular.otf');
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  @include get-aws-font-url('/fonts/sf-pro-display/sf-pro-display-regular-italic.otf');
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  @include get-aws-font-url('/fonts/sf-pro-display/sf-pro-display-bold.otf');
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-display: block;
  @include get-aws-font-url('/fonts/sf-pro-display/sf-pro-display-heavy.otf');
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  @include get-aws-font-url('/fonts/sf-pro-display/sf-pro-display-black.otf');
}