@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone&display=block');

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("/fonts/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("/fonts/FrankRuhlLibre/FrankRuhlLibre-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("/fonts/FrankRuhlLibre/FrankRuhlLibre-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Black.otf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}